.LoaderItem {
  position: fixed;
  left: 50%;
  top: 35%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #2c8fe0;
  visibility: visible;
}
